@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.hero {
    position: relative;
    width: 100%;
    /* height: 740px; */
    height: 850px;
    background-image: url(/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center -250px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.1), rgba(20, 20, 20, 1));
}

.hero .heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero .heroText h3 {
    font-size: 76px;
    color: #fff;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    padding-bottom: 35px;
    letter-spacing: 0.2em;

}

.hero .heroText h3 span {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.hero .heroText p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    letter-spacing: 0.15em;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
}

.hero .down {
    color: #cfcfcf;
    font-size: 22px;
    margin-top: 30px;
}

.about {
    width: 100%;
    height: auto;
    padding: 150px 0;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0.55)), url(/about_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
}

.about h3 {
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding-bottom: 25px;
    letter-spacing: 0.2em;
    font-family: 'Poppins', sans-serif;
}

.about p {
    width: 620px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.about button {
    border: none;
    text-align: center;
    display: block;
    margin: 35px auto 0;
    background: #d3d3d3;
    color: #333;
    width: 200px;
    height: 42px;
    line-height: 42px;
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

.about button:hover {
    background-color: #fff;
}

.about button a {
    color: #333;
    width: 100%;
    height: 100%;
    display: block;
}

/* vision */
.vision {
    background: rgb(36, 36, 36);
    color: #fff;
    padding: 130px 0;
    font-family: 'Poppins', sans-serif;
}

.visionWrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: 1200px;
}

.visionContent {
    width: 500px;
}

.visionContent p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.visionContent p:first-of-type {
    color: #7FD473;
    letter-spacing: 0.3em;
    font-family: 'Poppins', sans-serif;
}

.visionContent p:last-of-type {
    padding-top: 30px;
}

.visionContent h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.12em;
}

.vision img {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 2px;
}

.vision button {
    border: none;
    display: block;
    margin-top: 35px;
    background: #d3d3d3;
    color: #333;
    width: 200px;
    height: 42px;
    line-height: 42px;
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

.vision button:hover {
    background-color: #fff;
}

.vision button a {
    color: #333;
    width: 100%;
    height: 100%;
    display: block;
}

/* middle */
.middle {
    width: 100%;
    height: 320px;
    background: url(/middle_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

.middle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.middle p {
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* tour */
.tour {
    background: rgb(36, 36, 36);
    color: #fff;
    padding: 130px 0;
    font-family: 'Poppins', sans-serif;
}

.tourWrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: 1200px;
}

.tourContent {
    width: 500px;
}

.tourContent p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.tourContent p:first-of-type {
    color: #7FD473;
    letter-spacing: 0.3em;
    font-family: 'Poppins', sans-serif;
}

.tourContent p:last-of-type {
    padding-top: 30px;
}

.tourContent h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.12em;
}

.tour img {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 2px;
}

.tour button {
    border: none;
    display: block;
    margin-top: 35px;
    background: #d3d3d3;
    color: #333;
    width: 200px;
    height: 42px;
    line-height: 42px;
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

.tour button:hover {
    background-color: #fff;
}

.tour button a {
    color: #333;
    width: 100%;
    height: 100%;
    display: block;
}

/* features */
.features {
    background: rgb(36, 36, 36);
    color: #fff;
    padding: 130px 0;
    font-family: 'Poppins', sans-serif;
}

.features .container {
    margin: 0 auto;
    width: 1200px;
    max-width: 1200px;
}

.features p.green {
    color: #7FD473;
    letter-spacing: 0.3em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.features h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.12em;
    text-align: center;
}

.features .featureWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.features .card {
    width: calc(100% / 3 - 65px);
    font-family: 'Poppins', sans-serif;
}

.features .card p:first-of-type {
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 22px;
    padding-bottom: 15px;
}

.features .movie {
    width: 100%;
    margin-top: 85px;
}

.features .movie video {
    width: 100%;
    object-fit: fill;
}

.middle.bottom {
    background-image: url(/bottom_bg.jpg);
}

.bottom p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2em;
    font-family: 'Poppins', sans-serif;
}

/* responsive tablet */
@media screen and (max-width: 1200px) {
    .hero {
        height: 78vh;
    }

    .visionWrapper,
    .tourWrapper,
    .features .container {
        width: 90%;
        max-width: 90%;
    }

    .vision img,
    .tour img {
        width: 49%;
        height: 60vh;
    }

    .visionContent,
    .tourContent {
        width: 48%;
    }

    .features .card {
        width: calc(100% / 3 - 4%);
    }
}

/* responsive smartphone */
@media screen and (max-width: 768px) {
    .hero .heroText h3 {
        font-size: 2.5rem;
        width: 96%;
        font-size: 3rem;
    }

    .hero .heroText p {
        width: 90%;
        margin: 0 auto;
    }

    .about {
        padding: 15% 0;
    }

    .about p {
        width: 90%;
    }

    .vision {
        padding: 15% 0;
    }

    .visionWrapper,
    .tourWrapper {
        display: block;
    }

    .visionContent,
    .tourContent {
        width: 100%;
    }

    .visionContent h3,
    .tourContent h3,
    .features h3 {
        font-size: 2rem;
    }

    .vision img {
        width: 100%;
        height: 35vh;
        margin-top: 10%;
    }

    .tour img {
        width: 100%;
        height: 35vh;
        margin-bottom: 10%;
    }

    .middle {
        height: 30vh;
    } 

    .middle p {
        font-size: 1.4rem;
    }

    .features {
        padding: 12% 0;
    }

    .features .featureWrapper {
        display: block;
    }

    .features .card {
        width: 100%;
        margin-bottom: 15%;
    }

    .bottom p {
        font-size: 0.8rem;
        width: 90%;
        /* margin: 0 auto; */
        /* display: block; */
        left: 50%;
        transform: translate(-50%, -50%);
    }
}