@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header {
    width: 100%;
    max-width: 100%;
    height: auto;
    /* background-color: #fff; */
    background-color: #000;
}

.header .logo img {
    width: 200px;
    height: 50px;
}

.header .headerWrapper {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.header .headerWrapper ul {
    display: flex;
}

.header .headerWrapper ul li {
    margin-right: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.header.headerWrapper ul li a {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-weight: bold;
    color: #333;
    font-size: 30px;
}

.logo a,
.header .headerWrapper ul li a {
    color: #fff;
}

.header .headerWrapper ul li a {
    font-size: 18px;
    letter-spacing: 0.05em;
    position: relative;
}

.header .headerWrapper ul li a:hover {
    border-bottom: 2px solid #7FD473;
}

.humburgerMenu {
    display: none;
}

/* footer */
.footer {
    background: rgb(36, 36, 36);
    padding: 60px 0;
}

.footerWrapper {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .footerWrapper li a {
    color: #d3d3d3;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.footerWrapper ul {
    width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footerWrapper img {
    display: block;
    text-align: center;
    width: 250px;
    height: 70px;
    margin: 35px auto 0;
}

.responsiveMenu {
    display: none;
    /* width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; */
}

/* 1200px */
@media screen and (max-width: 1200px){
    .humburgerMenu {
        display: block;
        width: 3vw;
        z-index: 200;
    }

    .header .headerWrapper {
        z-index: 110;
    }

    .headerWrapper nav {
        display: none;
    }

    .humburgerMenu span {
        height: 2.5px;
        background: #fff;
        /* background: #7FD473; */
        width: 100%;
        display: block;
        margin-bottom: 25%;
        transition: all 0.3s;
    }

    .humburgerMenu span:first-of-type {
        transform-origin: 0% 0%;
    }

    .humburgerMenu span:last-of-type {
        transform-origin: 0% 100%;
    }

    .humburgerMenu span.open:first-of-type {
        /* transform: rotate(45deg); */
        transform: rotate(45deg);
    }

    .humburgerMenu span.open:nth-of-type(2) {
        opacity: 0;
    }

    .humburgerMenu span.open:last-of-type {
        transform: rotate(-45deg);
    }

    .humburgerMenu span:last-of-type {
        margin-bottom: 0;
    }

    .responsiveMenu {
        display: block;
        position: fixed;
        top: 0;
        right: -120%;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        transition: right 0.3s;
        opacity: 1;
        visibility: visible;
        z-index: 10;

    }

    .responsiveMenu.open {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.85);
        transition: all 0.3s;
        opacity: 1;
        visibility: visible;
    }

    .responsiveMenu.open ul,
    .responsiveMenu ul {
        padding: 25% 15%;
    }

    .responsiveMenu.open li a,
    .responsiveMenu li a {
        color: #fff;
        font-size: 1.2rem;
    }

    .responsiveMenu.open li,
    .responsiveMenu li {
        margin-bottom: 5%;
    }

    .footerWrapper {
        width: 90%;
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .header .logo img {
        width: 34vw;
        height: 10vw;
    }

    .humburgerMenu {
        display: block;
        /* width: 5vw; */
        width: 6%;
        z-index: 200;
    }

    .responsiveMenu.open {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 1);
        width: 100%;
        height: 100%;
        /* transition: width 0.3s; */
        opacity: 1;
        visibility: visible;
    }

    .responsiveMenu.open ul,
    .responsiveMenu ul {
        padding: 35% 15% 25%;
    }

    .responsiveMenu.open li a,
    .responsiveMenu li a {
        color: #fff;
        font-size: 5vw;
        text-align: center;
        display: block;
    }

    .responsiveMenu.open li,
    .responsiveMenu li {
        margin-bottom: 7%;
    }

    .footerWrapper ul {
        width: 90%;
    }
}